@page
@model Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Internal.RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Нажмите, чтобы подтвердить аккаунт.</a>
</p>
    }
    else
    {
<p>
        Пожалуйста, проверьте свой e-mail.
</p>
    }
}

